@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
  --color-brand: #B91C1C;
  --color-brand-dark: #7F1D1D;
  --color-accent: #B91C1C;
  --animate-marquee: marquee 30s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }
}

@layer base {
  body {
    @apply font-sans antialiased bg-white text-slate-900 overflow-x-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .font-serif {
    @apply font-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}